<%= form_for(@user) do |f| %>
<%= render 'layouts/error_messages', model: f.object %>
<div class="row">
  <div class="col-xs-offset-3 col-xs-6">
    <div class="panel panel-primary">
      
        <div class="panel-heading">登録情報編集</div>
        <div class="panel-body">
        
        <div class="form-group">
            <%= f.label :name, '氏名(フルネーム)' %>
            <%= f.text_field :name, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :email, 'メールアドレス' %>
            <%= f.email_field :email, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :department_id, '所属' %>
            <br>
            <%= f.collection_select :department_id, Department.all, :id, :name, {}, {class: 'form-control'} %>
          </div>
          
          <div class="form-group">
            <%= f.label :extension_number, '内線番号' %>
            <%= f.text_field :extension_number, class: 'form-control' %>
          </div>

          <div class="text-right">
            <%= f.submit '登録する', class: 'btn btn-primary' %>
          </div>
        
      </div>
    </div>
  </div>
</div>
<% end %>

