   <%= render 'assessment' %>   
<h1 class="text-center">マイスキル登録</h1>
<br>

<ul class="nav nav-pills col-xs-offset-5 col-xs-4">
	<li role="presentation" class="active"><a href="#">未登録スキル</a></li>
	<li role="presentation"><%= link_to '全スキル',all_skills_user_path(current_user) %></li>
</ul>





<% if @yet_skills.any? %>
<% @categories.each do |category| %>

<% if @yet_skills.where(category_id: category.id).count != 0 %>

<div class="panel-group col-xs-offset-2 col-xs-8">
<div class="panel panel-primary">


    <div class="panel-heading">
      <h4 class="panel-title">
        <%= category.name %>
      </h4>
    </div>
<% c_map = ["", "☆", "◯", "△", "×"] %>
    
      <ul class="list-group">
          <% @yet_skills.each do |skill| %>
          <% if skill.category_id == category.id %>
        <li class="list-group-item">
          <table class="table-condensed table-origin">
            <tbody>
              <tr>
                <td class="col-xs-9 font-origin">　<%= link_to skill.name, skill_path(skill.id) %></td>
                <td>
                          <div class="btn-group">
                            <%= link_to c_map[1], set_skill_user_path(skill: skill.id, assessment: 1),class: 'btn btn-default' %>
                            <%= link_to c_map[2], set_skill_user_path(skill: skill.id, assessment: 2),class: 'btn btn-default' %>
                            <%= link_to c_map[3], set_skill_user_path(skill: skill.id, assessment: 3),class: 'btn btn-default' %>
                            <%= link_to c_map[4], set_skill_user_path(skill: skill.id, assessment: 4),class: 'btn btn-default' %>
                          </div>
                </td>
              </tr>
            </tbody>
          </table>
        </li>
        <% end %>
        <% end %>
      </ul>
      



</div>
</div>

<% end %>
<% end %>
<% else %>

<p class="text-center">未登録スキルはありません</p>


<% end %>

