<h1 class="text-center">マイスキル登録</h1>

<ul class="nav nav-pills col-xs-offset-2 col-xs-4">
	<li role="presentation" class="active"><a href="#">未登録スキル</a></li>
	<li role="presentation"><%= link_to '全スキル',all_skills_user_path(current_user) %></li>
</ul>

<div class="panel-group col-xs-offset-2 col-xs-8">
<div class="panel panel-default">
<% if @yet_skills.any? %>
<% if @categories.any? %>
<% @categories.each do |category| %>

    <div class="panel-heading">
      <h4 class="panel-title">
        <%= category.name %>
      </h4>
    </div>

    
      <ul class="list-group">
          <% @yet_skills.each do |skill| %>
          <% if skill.category_id == category.id %>
        <li class="list-group-item">
          <table class="table-condensed">
            <tbody>
              <tr>
                <td class="col-xs-9"><%= link_to skill.name, skill_path(skill.id) %></td>
                <td>
                          <div class="btn-group">
                            <button type="button" class="btn btn-info"><%= link_to "★", set_skill_user_path(skill: skill.id, assessment: 1) %></button>
                            <button type="button" class="btn btn-success"><%= link_to "●", set_skill_user_path(skill: skill.id, assessment: 2) %></button>
                            <button type="button" class="btn btn-warning"><%= link_to "△", set_skill_user_path(skill: skill.id, assessment: 3) %></button>
                            <button type="button" class="btn btn-danger"><%= link_to "×", set_skill_user_path(skill: skill.id, assessment: 4) %></button>
                          </div>
                </td>
              </tr>
            </tbody>
          </table>
        </li>
        <% end %>
        <% end %>
      </ul>
      

<% end %>
<% end %>
<% else %>
<ul class="list-group">
  <li class="list-group-item">
          <table class="table-condensed">
            <tbody>
              <tr>
<td class="col-xs-7">未登録スキルはありません</td>
</tr>
</tbody>
</table>
</li>
</ul>
<% end %>

</div>
</div>