

<div class="panel-group col-xs-offset-2 col-xs-8">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title text-center">
      <%= @skill.name %>
      </h4>
    </div>
    <div class="panel-body">

     

<h1 class="text-center col-xs-12">☆：<%= @skill.haveskills.where(assessment:1).count %>人</h1>

       <div class="col-xs-offset-1 col-xs-10">
         
        <table class="table table-bordered col-xs-10 text-center">
            <tbody>
              <% @skill.haveskills.where(assessment:1).joins(user: :department).order("departments.display").each do |have| %>
              <tr>
                <td class="col-xs-4">
                <%= have.user.department.name %>
                </td>
                <td class="col-xs-3">
                <%= link_to have.user.name, user_path(have.user_id) %>
                </td>
                
              </tr>
              <% end %>
            </tbody>
          </table>
         

          </div>
           <div class="col-xs-12"><p class="box">　</p></div>
          
          <h2 class="text-center col-xs-12">◯：<%= @skill.haveskills.where(assessment:2).count %>人</h2>

        <div class="col-xs-offset-1 col-xs-10">
          
        <table class="table table-bordered col-xs-10 text-center">
            <tbody>
              <% @skill.haveskills.where(assessment:2).joins(user: :department).order("departments.display").each do |have| %>
              <tr>
                
                <td class="col-xs-4">
                <%= have.user.department.name %>
                </td>
                <td class="col-xs-3">
                <%= link_to have.user.name, user_path(have.user_id) %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>

        </div>
        <div class="col-xs-12"><p class="box">　</p></div>
        
        <p class="text-center col-xs-12">△：<%= @skill.haveskills.where(assessment:3).count %>人</p>
          
        <p class="text-center col-xs-12">×：<%= @skill.haveskills.where(assessment:4).count %>人<br><br><br><br></p>
        
 
        <p class = "text-center col-xs-12">※　△と×のユーザは表示されません</p>
        </div>
        <div class="panel-footer text-right">
          
          カテゴリ：<%= @skill.category.name %><br>
          作成者：<%= @skill.user.name %>
        </div>

</div>
</div>