<h1>カテゴリー</h1>

<table class="table">
  <tr>
    <th>id</th>
    <th>name</th>
    <th>display</th>
  </tr>
  <% @categories.each do |category| %>
  <tr>
    <td><%= category.id %></td>
    <td><%= category.name %></td>
    <td><%= category.display %></td>
  </tr>
  <% end %>
</table>

<%= form_for(@set_category) do |f| %>

<div class="form-group">
            <%= f.label :name, 'カテゴリ名' %>
            <%= f.text_field :name, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :display, '表示順' %>
            <%= f.text_field :display, class: 'form-control' %>
          </div>

          <div class="">
            <%= f.submit '登録する', class: 'btn btn-primary' %>
          </div>
<% end %>          
 <%= link_to '戻る',master_path, class:"btn btn-default" %>